<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>yxyBlog</title>
    <!-- Bootstrap core JavaScript
================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="../../js/jquery-3.1.1.min.js"></script>
    <script src="../../js/bootstrap.min.js"></script>
    <link href="../../css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles -->
    <link href="../../css/blog.css"  rel="stylesheet">
</head>
<body>
<footer class="blog-footer" data-th-fragment="footer">
    <div class="container blog-footer">
        <p>Welcome to <a href="https://github.com/yxyred/yxyblog">https://github.com/yxyred/yxyblog</a></p>
    </div>





</footer>

</body>
</html>